*{
    background: #F6F1E9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.logo-alura{
    padding-top: 20px;
    margin-left: 40px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.mensajeEncriptado{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;

}

::placeholder{
    color: #0A3871;
}

.mensajeEncriptado:focus{
    outline: none;
} /*desaparece el recuadro al dar click*/

#mensajeDesencriptado{
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;



}

#mensajeDesencriptado:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;

}

.botonEncriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;

}

.botonDesencriptar{
    background-color: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;


}

#copiar{
    border: 1px solid #0A3871;
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 328px;
    position: fixed;

}

.informacion{
    color: #0A3871;
    font-size: 14px;
}